@{
    Layout = "~/Views/Shared/_Homework.cshtml";
}
<form class="update-form" method="post" action="@Url.Action("AddHomework", "Homework")">
    <input type="text" name="img" class="input" placeholder="Img Url" />
    <input type="text" name="description" class="input" placeholder="Description" />
    <input type="text" name="taskId" class="input" placeholder="Task Id" />
    <div class="btns">
        <button class="confirm" type="submit">Confirm</button>
        <button method="get" asp-controller="Homework" asp-action="GetAllHomework" class="cancel">Cancel</button>
    </div>
</form>