<form class="user__feedback" method="post" action="@Url.Action("GetUserFeedbacks", "User")">
	<input type="text" name="id" placeholder="User id" class="get__inptut" />
	<button class="confirm" type="submit">Get</button>
</form>
