<form class="user__result" method="post" action="@Url.Action("GetUserResults", "User")">
	<input type="text" name="id" placeholder="User id" class="get__inptut" />
	<button class="confirm" type="submit">Get</button>
</form>
