@model List<AdminPageinMVC.Dto.EducationDTO>
@{
    Layout = "~/Views/Shared/_Education.cshtml";
}

<div class="user-table">
    @(Html
        .Grid(Model) 
        .Build(columns =>
        {
            columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
            columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true);
            columns.Add(model => model.End).Titled("End").Filterable(true).Sortable(true);
            columns.Add(model => model.Description).Titled("Description").Filterable(true).Sortable(true);
            columns.Add(model => model.Course.Id).Titled("Course Id").Filterable(true).Sortable(true);
            columns.Add()
                .Encoded(false)
                .RenderedAs(model =>
                {
                    return $@"
                        <a class=""btn-update"">Update</a>
                        <button class=""btn-confirm hide"" asp-controller=""Education"" asp-action=""UpdateEducation"" type=""submit"">Confirm</button>
                        <button class=""btn-delete"" asp-controller=""Education"" asp-action=""DeleteCourse"" type=""submit"">Delete</button>
                        <a class=""btn-cancel hide"">Cancel</a>
                    ";
                })
                .Titled("Actions");
        })
)
</div>

<div class="center-align">
    <a class="waves-effect waves-light btn" href="@Url.Action("AddEducation", "Education")">Create New Education</a>
</div>