@{
    Layout = "~/Views/Shared/_Course.cshtml";
}

<form class="user__result" method="post" action="@Url.Action("GetByIdCourse", "Course")">
    <input type="text" name="id" placeholder="Course id" class="get__inptut" required />
    <button class="confirm" type="submit">Update</button>
</form>